.main-content {
  flex: 2; /* Ocupa 2/3 del espacio */
  overflow-y: auto; /* Añade barra lateral para el desbordamiento vertical */
  padding: 100px;
}

@media (max-width: 768px) {
  .main-content {
    padding: 20px;
  }
}
