.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  height: 50px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 60%;
  padding: 0;
}

.nav ul li {
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-right: 10px;
  }

  .nav ul li {
    margin-right: 20px;
  }
}
