.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  height: 50px;
  font-family: 'Platypi', serif;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 60%;
  padding: 0;
}

.nav ul li {
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    justify-content: space-between;
  }

  .nav ul li {
    margin-left: 1.5rem;
  }
}
