body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/fondo_papel2.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #333;
  line-height: 1.6;
  font-size: 1.2rem;
}

h1,
h2,
h3 {
  font-family: 'Platypi', serif;
  font-style: normal;
  color: #003f18;
}

p,
li,
span,
button {
  font-family: 'Rubik', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.content {
  display: flex;
  height: calc(100% - 60px);
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    height: auto;
    padding-bottom: 60px; /* espacio para navbar fija */
  }
}
